/* ContactForm.module.scss */

/* Estilos para el formulario */
.contact-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilos para las etiquetas de nombre y número */
label {
  margin-bottom: 10px;
  margin-left: 50px;
}

/* Estilos para los campos de entrada */
input {
  padding: 5px;
  margin-bottom: 10px;
}

/* Estilos para el botón */
button {
  margin: 10px 20px;
  margin-left: 255px;
  padding: 5px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
